@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Groceries list</h1>
</div>

<div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0" data-bind='visible: categories().length > 0'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody data-bind='foreach: categories'>
                <tr>
                    <td><span data-bind="text: Id"></span></td>
                    <td><input class='required' data-bind='value: Name, uniqueName: true' /></td>
                    <td class="actions">
                        <button class="btn btn-lg glyphicon glyphicon-edit"
                                title="Click here to edit record" data-bind="click:$root.save"></button>
                        <button class="btn btn-lg glyphicon glyphicon-remove-circle"
                                title="Click here to delete." data-bind="click:$root.removeCategory"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-lg glyphicon glyphicon-plus-sign"
                title="Click here to add record"
                data-bind='click: addCategory'></button> 
        <button type="submit" class="btn btn-lg glyphicon glyphicon-floppy-save"
                title="Click here to save" data-bind='enable: categories().length > 0'></button>
    </div>
    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
</div> <!-- /#list -->